<ion-content >
  <app-header></app-header>
  <ion-grid class="background" >
    <p class="text">Choissisez vos produit</p>
    <app-button-base name="Poissons" uri="../../assets/poulpe.png" (click)="openPoissonWithCategory()"></app-button-base>
    <app-button-base name="Coquillages" uri="../../assets/poulpe.png" (click)="openCoquillageWithCategory()"></app-button-base>
    <app-button-base name="Crustacés" uri="../../assets/poulpe.png" (click)="openCrustaceWithCategory()"></app-button-base>
    <app-button-base name="Promotions" uri="../../assets/poulpe.png" (click)="openPromotionWithCategory()"></app-button-base>
  </ion-grid>
</ion-content>

