.text {
  text-align: center;
}

.background {
  background: url("../../assets/background.png") no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
}

.right {
  font-size: 25px;
  margin-top: 0;
  text-align: right;
  margin-bottom: 0;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  padding: 10px;
}